# This is Git's per-user configuration file.
[user]
  name = afirth
  email = afirth@users.noreply.github.com
  #signingkey = 613EEDA
[branch "master"]
  rebase = true
[core]
  editor = vim
  excludesfile = /Users/afirth/.gitignore
[credential]
  helper = osxkeychain
[gpg]
  program = gpg
[pull]
  rebase = true
